---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{site.fullname}}</a>
  </h1>
</header>      
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date:"%d.%m.%Y" }}</time>
  </div>
  {{ content }}
  <small class="contribution-info">
    <a target="_blank" href="https://github.com/ramesaliyev/ramesaliyev.github.io/blob/master/{{page.path}}">Bu içeriğe</a> katkıda bulunmak için github üzerinden pull request gönderebilirsiniz.
  </small>
  {% include disqus.html %}
</div>
